# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
